* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
button {
  padding: 20px;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 10px;
}
button:hover {
  background-color: gainsboro;
  cursor: pointer;
}
button:active {
  background-color: lavender;
}
.drum-pad {
  display: inline-block;
  text-align: center;
  position: relative;
}
#pad-bank {
  width: 50vw;
  height: 50vh;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid lightgrey;
  border-radius: 10px;
  margin: 0 auto;
  padding: 25px;
  align-items: center;
  justify-content: center;
}
body {
  padding: 50px;
}
#display {
  background: lightgrey;
  width: 50vw;
  color: white;
  height: 25px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}
#drum-machine {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column; 
  align-items: center;
}
