* {
  padding: 0;
  margin: 0;
}
body {
  padding: 25px;
}
.gallery {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  position: relative;
}
.gallery img {
  width: 200px;
  height: 300px;
  object-fit: cover;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
}
.gallery img:hover {
  transform: scale(1.05);
  border-radius: 5px;
  transition: transform 1s ease;
}
.lightbox {
  display: none;
  background-color: rgba(0,0,0,0.75);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.lightbox img{
  margin: auto;
  max-width: 80vw;
  max-height: 85vh;
}
h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom:10px;
}
#close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-size: 2em;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
