* {
  padding: 0;
  margin: 0;
}
body {
  padding: 100px;
  font-family: Arial, sans-serif;
}
.container {
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 20px;
  padding: 10px;
}
#text-input {
  padding: 5px;
}
